#### decision tree
https://ratsgo.github.io/machine%20learning/2017/03/26/tree/

#### 용어
full tree :  모든 terminal node(끝 노드)의 순도가 100%인 상태

#### Entropy
$Entropy(A) = -\sum^{m}_{k=1} p_k log_2(p_k)$ : 빨간색공 10개, 파란색공 6개일때  $p_1=\frac{10}{16}, p2=\frac{6}{16}$<br>
(7,1),(3,5)로 분류했다면 $Entropy(A) = \sum^{d}_{i=1}R_i(-\sum^{m}_{k=1}p_k log_2(p_k) (단 R_i = 1/n)$<br>
ex)  주택 분류 1,23

#### Gini Index
$G.I(A) = \sum^{d}_{i=1}(R_i(1-\sum^{m}_{k=1}p^2_{ik}))$

#### 모델 학습
1. 재귀적 분기(recursive partitioning)<br>
개체 : n개, 변수 : d 개이면 1회 분기 시 d(n-1) 회 시행
2. 가지치기(pruning)
full tree 는 과적합 상태이기 때문에 어느정도 결합필요

#### cost function
decision tree 는 cost function 을 최소로 하는 분기를 찾아내도록 학습
$CC(T) = Err(T) + \alpha \times L(T)$<br>
$CC(T)$ : decision tree 의 비용 복잡도(오류가 적으면서 terminal node 수가 적은 단순한 모델일수록 작은 값)<br>
$Err(T)$ : 검증데이터에 대한 오분류율<br>
$L(T)$ : terminal node 의 수<br>
$\alpha$ : 보통 0.01~0.1

In [1]:
import pandas as pd
import numpy as np

In [2]:
### sklearn algorithm example
#https://www.kaggle.com/perry15/decisiontree-example/data

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### 과정
1. 엔트로피함수
2. column 따라 Y값 분할 - input(column name), return(분할된 data frame)
3. 재귀적으로 반복, entropy 0까지, column과 value는 list에 쌓음, 이때 trueFalse아니면?

In [12]:
inputs = [
    ({'level': 'Senior', 'lang': 'Java', 'tweets': 'no', 'phd': 'no'}, False),
    ({'level': 'Senior', 'lang': 'Java', 'tweets': 'no', 'phd': 'yes'}, False),
    ({'level': 'Mid', 'lang': 'Python', 'tweets': 'no', 'phd': 'no'}, True),
    ({'level': 'Junior', 'lang': 'Python', 'tweets': 'no', 'phd': 'no'}, True),
    ({'level': 'Junior', 'lang': 'R', 'tweets': 'yes', 'phd': 'no'}, True),
    ({'level': 'Junior', 'lang': 'R', 'tweets': 'yes', 'phd': 'yes'}, False),
    ({'level': 'Mid', 'lang': 'R', 'tweets': 'yes', 'phd': 'yes'}, True),
    ({'level': 'Senior', 'lang': 'Python', 'tweets': 'no', 'phd': 'no'}, False),
    ({'level': 'Senior', 'lang': 'R', 'tweets': 'yes', 'phd': 'no'}, True),
    ({'level': 'Junior', 'lang': 'Python', 'tweets': 'yes', 'phd': 'no'}, True),
    ({'level': 'Senior', 'lang': 'Python', 'tweets': 'yes', 'phd': 'yes'}, True),
    ({'level': 'Mid', 'lang': 'Python', 'tweets': 'no', 'phd': 'yes'}, True),
    ({'level': 'Mid', 'lang': 'Java', 'tweets': 'yes', 'phd': 'no'}, True),
    ({'level': 'Junior', 'lang': 'Python', 'tweets': 'no', 'phd': 'yes'}, False)
]

X = pd.DataFrame([x[0] for x in inputs])

Y = pd.DataFrame(x[1] for x in inputs)

Y.columns = ['value']

In [13]:
df = pd.concat([X,Y],axis=1)

arr = Y.value.values

In [14]:
def entropy(arr):
    if(len(arr)==0):
        return(0)
    
    p1 = sum(arr)/len(arr)
    p2 = (len(arr)-sum(arr))/len(arr)
    if((p1==0)|(p2==0)):
        return(0)
    
    result = -(p1*np.log2(p1) + p2*np.log2(p2))
    
    return(result)

In [15]:
def entropy_multi(arrs):
    entropy_value = 0
    n = sum([len(x) for x in arrs])
    for x in arrs:
        entropy_value += len(x)*entropy(x)/n
    return(entropy_value)

In [16]:
#tree
class Node:
    def __init__(self, df):
        self.df = df
        self.col = None
        self.row = None
        self.entropy = None
        self.left = None
        self.right = None

In [322]:
def splitDf(df):
    minimum=1
    colnames = df.columns
    
    colRow = [colnames[0],df[colnames[0]].unique()[0]] #default value
    for col in colnames[:-1]:

        for row in df[col].unique():
            ys = []
            ys = ys+[df[df[col]==row]['value'].values,df[df[col]!=row]['value'].values]
            if(entropy_multi(ys)<minimum):
                minimum = entropy_multi(ys)
                colRow = [col,row]
                
    return(colRow,minimum)

In [18]:
#input : node, df, ! arr(entropy), 
#output : entropy, cr, arr

In [320]:
splitDf(train)

(['Sex', 'male'], 0.7476803817107462)

In [19]:
def getNodes(node, df,entropyBefore = -1):
    if(entropy(df['value'])==0):
        node.entropy = 0
        return 0
    if(entropy(df['value'])==entropyBefore):
        return 0
    
    cr = splitDf(df)[0]
    node.entropy = entropy(df['value'])
    
    dfLeft = df[df[cr[0]]==cr[1]]
    dfRight = df[df[cr[0]] != cr[1]]
    
    node.col = cr[0]
    node.row = cr[1]
    
    node.left = Node(dfLeft)
    node.right = Node(dfRight)
    
    getNodes(node.left, dfLeft,node.entropy)
    getNodes(node.right, dfRight, node.entropy)

In [20]:
root=Node(df)

getNodes(root,df)

In [22]:
def treePrint(node,treeList,right):
    
    
    treeList_ = treeList.copy()
    
    if(right =='start'):
        0
    elif(right):
        treeList_.append("right")
    else:
        treeList_.append("left")
    
    
    if((node.left ==None)&(node.right ==None)):
        print(treeList_)
        return 0
    treeList_.append((node.col,node.row))

    
        
   
    treePrint(node.left, treeList_,0)
    treePrint(node.right,treeList_,1)

In [23]:
treePrint(root,[],'start')

[('level', 'Mid'), 'left']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'left', ('level', 'Senior'), 'left']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'left', ('level', 'Senior'), 'right', ('phd', 'no'), 'left']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'left', ('level', 'Senior'), 'right', ('phd', 'no'), 'right']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'right', ('phd', 'no'), 'left']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'right', ('phd', 'no'), 'right', ('level', 'Junior'), 'left']
[('level', 'Mid'), 'right', ('tweets', 'no'), 'right', ('phd', 'no'), 'right', ('level', 'Junior'), 'right']

In [277]:
def dfPred(node, sr):

    if((node.left==None)&(node.right==None)):
        if(len(node.df['value']) != 0):
            result[0] = int(round(node.df['value'].sum()/len(node.df['value']),0))
            return 0
        else:
            result[0] =  np.random.randint(2) #0,1 is 50%, 50%
            return 0

    if(sr[node.col] == node.row):
        dfPred(node.left, sr)
    else:
        dfPred(node.right, sr)

In [25]:
labels = []

for i in range(len(df)):
    result=[True]
    dfPred(root, df.loc[i])
    labels = labels+result

### real

In [ ]:
import time

In [195]:
dataset = pd.read_csv("titanic.csv")
dataset.head()
#dataset=dataset.rename(columns = {"Outcome":"value"})

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [197]:
dataset=dataset[['Pclass','Sex','SibSp','Parch','Embarked','Survived']]

In [200]:
dataset=dataset.rename(columns = {"Survived":"value"})

In [201]:
np.random.seed(2020)

In [202]:
dataset = dataset.sample(frac=1).reset_index(drop=True)

In [326]:
train = dataset[:100]

In [327]:
test = dataset[-100:]

In [328]:
def accuracy(real,pred):
    return(1-sum(abs(real-pred))/len(real))

In [329]:
start = time.time()
root=Node(train)

getNodes(root,train)
print(time.time() - start)

0.3972358703613281

In [251]:
#treePrint(root,[],'start')

[('Sex', 'female'), 'left', ('Pclass', 1), 'left']
[('Sex', 'female'), 'left', ('Pclass', 1), 'right', ('Pclass', 2), 'left']
[('Sex', 'female'), 'left', ('Pclass', 1), 'right', ('Pclass', 2), 'right']
[('Sex', 'female'), 'right']

In [332]:
labels = []

for i in range(len(test)):
    result=[True]
    dfPred(root, test.iloc[i])
    labels = labels+result

In [331]:
accuracy(test['value'],labels)

0.78

In [344]:
train_ = train.apply(lambda col: pd.factorize(col, sort=True)[0])
test_ = test.apply(lambda col: pd.factorize(col, sort=True)[0])

In [345]:
start = time.time()
dtc = DecisionTreeClassifier(criterion="entropy")
dtc = dtc.fit(train_.iloc[:,:-1],train_.iloc[:,-1])

pred = dtc.predict(test_.iloc[:,:-1])
print(time.time()-start)

0.004615068435668945

In [346]:
accuracy(test['value'],pred)

0.77